:root {
    --font: 'Montaga', serif;
    --font2: 'Proza Libre', sans-serif;
    --font3: 'Ysabeau Office', sans-serif;
}

* {box-sizing: border-box;}


body {
    margin: 0;
    padding: 0;
    background-color: #5d4a59;

    /* background-color: rgb(188, 144, 139); */
    /* background-color: rgb(69, 66, 66); */
    
}


/* ----------------------------------------header----------------------------------------------- */
.name-header {
    font-family: var(--font);
    font-size: 50px;
    color: rgb(203, 200, 200);
    /* color: black; */
}

.code-header {
    padding-top: 50px;
    /* font-family: var(--font); */
}

.code-link {
    /* color: black; */
}

.header-row {
    padding: 20px 0;
}

.header {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.4);
    /* box-shadow: 0px 3px 8px; #B17F76 */
}


.h2-heading {
    /* padding-top: 25px; */
    margin-top: 30px;
    margin-bottom: 30px;
}




/* ----------------------------------------footer------------------------------------------------- */










/* ============================   INDEX   ================================ */

.quote-text {
    font-family: var(--font3);
    font-size: 40px;
    padding-top: 50px;
}


.headshot-img {
    margin-top: 20px;
    border: 2px solid rgb(178, 202, 225);
    border-radius: 7px;
}

.code-link {
    color: rgb(178, 202, 225);
}




/* =====================   ABOUT   ==================================== */
#aboutContainer {
    /* border: 2px solid red; */
}


.about-header {
    margin-top: 27px;
    /* padding-right: 60px; */
    /* padding-left: 80px; */
    font-size: 45px;
    color: rgb(203, 200, 200);
}

.about-img {

}


#accordionDiv {
    margin-top: 25px;
}

#accordianExample {
    background-color: lightblue;
}

/* .header-button {
    background-color: lightblue;
    color: black;
} */

.body-text {
    background-color: black;
    color: white;
}





/* ============================   WORK   =============================== */



/* .work-header {
        margin-top: 30px;
        margin-bottom: 30px;
        padding-right: 60px;
        padding-left: 80px;
        font-size: 45px;
        border: 2px solid green;
} */

.work-header {
    margin-top: 27px;
    /* padding-right: 60px;
    padding-left: 80px; */
    font-size: 45px;
    color: rgb(203, 200, 200);
}

.project-row-one {
    margin-top: 25px;
}

.project-row-two {
    margin-top: 50px;
    /* margin-bottom: 18px; */
}

#footer {
    margin-top: 18px;
}





/* ==========================================   CONTACT   ==================================*/



/* .contact-header {
    margin-top: 20px;
    padding-right: 60px;
    padding-left: 80px;
    font-size: 45px;
    border: 2px solid green;
} */

.contact-header {
    margin-top: 27px;
    /* padding-right: 60px;
    padding-left: 80px; */
    font-size: 45px;
    color: rgb(203, 200, 200);
}

.school-img {
    margin-left: 25px;
    border: 2px solid rgb(132, 132, 133);
    border-radius: 8px;
    /* margin-top: 0px; */
    margin-bottom: 10px;
}


.contact-div {
    padding-left: 30px;
}

.nav-div {
    padding-left: 45px;
}

.site-div {
    padding-left: 45px;
}

.colophon {
    color: black;
}




.contact-info {
    color: whitesmoke;
    margin-top: 25px;
    padding-left: 50px;
    /* border: 2px solid red; */
}

.github-h2, .email-h2, .academy-h2 {
    color: rgb(47, 42, 42);
}

.contact-h3 {
    font-size: 20px;
}

.class-div {
    margin-top: 30px;
}


